<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cloud City Cake Company{% endblock %}</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/site.css"/>

    {% block additional_css %}{% endblock %}
</head>
<body>


<div class="main_content">
    {% block main_content %}{% endblock %}
</div>

<footer>
    <div class="copyright">
        This is a fake site built during a course.
    </div>
    <div>
        Check out the <a href="/admin">admin</a> section.
    </div>
</footer>


</body>
</html>