<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email from Cloud City Cakes Co</title>
</head>
<body style="margin: 0px; padding: 0px; background: #555; line-height: 1.75em;">
<div style="background: white; color: black;  font-family: Tahoma,serif;">
    <div>
        <a href="https://cloudcity.ngrok.io/" target="_blank">
            <img src="https://cloudcity.ngrok.io/static/img/email-banner.jpg" style="width: 100%">
        </a>
    </div>

    <div style="padding: 20px 50px;margin-top: -10px;">
        {% block content %}
            THIS PAGE HAS NO CONTENT
        {% endblock %}
    </div>
</div>

<footer style="padding-top: 50px; padding-bottom: 25px; color: #aaa; text-align: center;">
    This email is sent from <a style="color: #6ca6ff;" href="https://cloudcity.ngrok.io/" target="_blank"
>Cloud City Cake Co</a>.<br>
    Our address is 123 Main St., Tech Town, USA<br>
    Unsubscribe here ...
</footer>

</body>
</html>